<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geostar.solrtest">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LauncherMenuListActivity"
            android:label="非地图类功能测试"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ftp.FTPDownloadActivity"
            android:label="@string/ftp_download_test">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherMenuListActivity" />
        </activity>
        <activity
            android:name=".solr.SolrTestActivity"
            android:label="Solr 服务连接测试">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherMenuListActivity" />
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".solr.request.TwoFuncTestActivity" />
        <activity
            android:name=".android.recyclerview.RecyclerViewHorizonActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".android.view.SimpleViewGroupActivity" />
        <activity android:name=".IntentTestActivity" />
        <activity android:name=".android.view.MainDividerActivity"></activity>
    </application>

</manifest>